@import "../../assets/styles/main.scss";

.joke {
  position: relative;
  border-radius: 20px;
  &:not(:first-of-type) {
    margin-top: 20px;
  }
  &--favourite {
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 47px 20px 20px 80px;
  }
  &--main {
    @include mobile {
      padding: 47px 20px 20px 80px;
    }
    background-color: #f8f8f8;
    padding: 67px 40px 45px 100px;
  }
  &__heart {
    @include mobile {
      top: 20px;
      right: 20px;
    }
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
  }
  &__box {
    position: relative;
  }
  &__text {
    margin-top: 5px;
    word-wrap:break-word;
    &--favourite {
      font-size: 14px;
      line-height: 20px;
    }
    &--main {
      font-size: 18px;
      line-height: 26px;
    }
  }
  &__link {
    margin-left: 5px;
  }
  &__message {
    position: absolute;
    top: 0;
    width: 40px;
    height: 40px;
    left: -60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    &--favourite {
      background: #f8f8f8;
    }
    &--main {
      background-color: #fff;
    }
  }
  &__id {
    font-size: 10px;
    &--blue {
      color: #8aa2f7;
      text-decoration: underline;
      margin-left: 3px;
    }
  }
  &__bottom {
    @include mobile {
      flex-direction: column;
      align-items: baseline;
    }
    display: flex;
    justify-content: space-between;
    &--favourite {
      margin-top: 20px;
    }
    &--main {
      margin-top: 23px;
    }
  }
  &__category {
    @include mobile {
      margin-top: 10px;
    }
  }
  &__update {
    font-size: 10px;
    color: #ababab;
  }
  &__option {
    border-radius: 6px;
    padding: 6px 20px;
    color: #333;
    background-color: #fff;
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}
