@import "../../assets/styles/main.scss";

.main {
  @include laptop {
    width: 100%;
    min-height: 100vh;
    padding: 40px 20px 140px;
  }
  @include mobile {
    padding: 20px 20px 71px;
  }
  padding-top: 40px;
  padding-bottom: 140px;
  width: calc(100% - 480px);
  &--hidden {
    height: 100vh;
  }
  &__wrapper {
    @include mobile {
      width: 100%;
    }
    max-width: 680px;
    width: 90%;
    margin: auto;
  }
  &__logo {
    font-size: 20px;
  }
  &__top {
    position: relative;
    display: flex;
    justify-content: space-between;
    &-title {
      @include laptop {
        display: flex;
        align-items: center;
        font-size: 20px;
        color: #ababab;
        background-color: transparent;
        border: none;
      }
      display: none;
      &--text {
        margin-left: 5px;
        color: #ababab;
      }
    }
  }
  &__heading {
    margin-top: 78px;
    line-height: 44px;
  }
  &__title {
    font-size: 32px;
  }
  &__subtitle {
    font-size: 24px;
  }
  &__jokes {
    margin-top: 40px;
  }
}
