@import "../../assets/styles/main.scss";

.main {
  @include laptop {
    width: 100%;
    padding: 40px 20px 140px;
  }
  padding-top: 40px;
  padding-bottom: 140px;
  width: calc(100% - 480px);
  &__wrapper {
    max-width: 680px;
    margin: auto;
  }
  &__logo {
    font-size: 20px;
  }
  &__heading {
    margin-top: 78px;
    line-height: 44px;
  }
  &__title {
    font-size: 32px;
  }
  &__subtitle {
    font-size: 24px;
  }
  &__jokes {
    margin-top: 40px;
  }
}
