@import "../../assets/styles/main.scss";

.favourite {
  @include laptop {
    position: absolute;
    top: 0;
    right: 0;
  }
  width: 480px;
  padding: 40px;
  background-color: #f8f8f8;

  &__title {
    font-size: 20px;
    color: #ababab;
  }
  &__container {
    margin-top: 20px;
  }
}
